<!DOCTYPE html>
<html>
  <head>
    <title>Connexion - Mini Site Étudiant</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <h2>Connexion</h2>

    {% if message %}
    <p style="color: red">{{ message }}</p>
    {% endif %}

    <form method="POST" class="flex justify-center flex-row bg-white border border-black rounded-x1">
      <div>
        <label>Nom d'utilisateur:</label>
        <input type="text" name="username" required />
      </div>
      <div>
        <label>Mot de passe:</label>
        <input type="password" name="password" required />
      </div>
      <button type="submit">Se connecter</button>
      <p>Identifiants de démonstration: etudiant / edt2026</p>
    </form>

  </body>
</html>
